In [1]:
import pandas as pd

In [2]:
# ss_events

sensor_counts_df = pd.read_csv('sensor_counts.csv')

sensor_counts_df = pd.pivot_table(
 sensor_counts_df, 
 index="uid", 
 columns="sensor_type" , 
 values="c", 
 fill_value=0.0).reset_index()

for c in sensor_counts_df.columns:
 if c == "uid": continue
 # sensor_counts_df[c] = sensor_counts_df[c].apply(lambda x: True if x > 0 else False) 

sensor_counts_df.head(5)

sensor_type,uid,0,1,2,3,4,5,6,7,8,...,118,119,120,121,122,123,124,125,126,127
0,-1,2122.0,3599.0,0.0,1.0,30.0,754.0,0.0,0.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,145,94.0,176.0,0.0,0.0,0.0,61.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,154,532.0,140.0,564.0,0.0,16.0,60.0,10.0,82.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,171,332.0,352.0,0.0,0.0,0.0,156.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,198,506.0,565.0,0.0,0.0,2.0,25.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# ss_events

event_type_counts_df = pd.read_csv('event_type_counts.csv')

event_type_counts_df = pd.pivot_table(
 event_type_counts_df, 
 index="uid", 
 columns="event_type" , 
 values="c", 
 fill_value=0.0).reset_index()

for c in event_type_counts_df.columns:
 if c == "uid": continue
 # event_type_counts_df[c] = event_type_counts_df[c].apply(lambda x: True if x > 0 else False)

event_type_counts_df.head(5)

event_type  uid  0.0   1.0     2.0   3.0      4.0   5.0    6.0     7.0     8.0
0            -1  0.0  89.0  2661.0   0.0      0.0  49.0  159.0  1972.0  1724.0
1           145  0.0  35.0   146.0   0.0    298.0   9.0    9.0    50.0   114.0
2           154  0.0  32.0  7686.0  14.0  18528.0  11.0  195.0   358.0   281.0
3           171  0.0   2.0   357.0   0.0      0.0   0.0  281.0   174.0    26.0
4           198  0.0  78.0   648.0   0.0  22596.0   9.0   58.0   290.0    52.0

In [4]:
# sdl_customer_segmentation_usage_daily

event_type_counts_2_df = pd.read_csv('event_type_counts_2.csv')

col_names = []
for c in event_type_counts_2_df.columns:
 if c == "uid" or c.endswith("_event"):
    col_names.append(c)

event_type_counts_2_df = event_type_counts_2_df[col_names].fillna(0.0)

print(event_type_counts_2_df.shape)
event_type_counts_2_df.head(5)

(2209952, 8)

,uid,remote_system_home_event,remote_system_away_event,remote_system_off_event,cam_activity_event,app_systemhome_event,app_systemaway_event,app_systemoff_event
0,4361906,3.0,0.0,3.0,36732.0,3.0,1.0,2.0
1,1508456,0.0,6.0,5.0,106.0,0.0,6.0,5.0
2,3810951,170.0,235.0,149.0,19187.0,134.0,139.0,97.0
3,210150,0.0,0.0,0.0,2.0,0.0,0.0,0.0
4,3990421,6.0,4.0,4.0,4121.0,6.0,5.0,6.0

In [5]:
# sdl_app_events

device_counts_df = pd.read_csv("device_counts.csv").fillna(0.0)

device_counts_df.head(5)

,uid,indoor_camera_count,doorbell_count,environment_sensors_count,doorlock_count,outdoor_battery_camera_count
0,5184129,0.0,0.0,0.0,0.0,0.0
1,3616988,0.0,0.0,0.0,0.0,0.0
2,5641196,0.0,0.0,0.0,0.0,0.0
3,5298093,0.0,0.0,0.0,0.0,0.0
4,4625585,0.0,0.0,2.0,0.0,0.0

In [6]:
# sdl_sa_ss_location_audit

family_df = pd.read_csv("family.csv")
family_df = family_df[family_df.adults > 0]
print(family_df.shape)
family_df.head(5)

(2029480, 4)

       uid  adults  children  residence
3  4273294       2         1          2
4  4255153       1         0          2
5  4246139       1         0          2
8  4248883       2         2          2
9  4093327       2         0          2

In [7]:
subs_df = pd.read_csv('subs.csv')
# subs_df["has_prior_subscriptions"] = subs_df["has_prior_subscriptions"].apply(lambda x: 1.0 if x else 0.0)
subs_df.head(5)

,uid,subscription_status,has_prior_subscriptions,subscription_cmrr,days
0,4829753,Active,True,0.00,30
1,3330410,Active,True,0.00,30
2,5816526,Active,True,29.99,56
3,3194092,Active,True,0.00,31
4,969223,Active,True,0.00,31

In [ ]:
print(subs_df.shape)
print(subs_df["uid"].unique().shape)
print(sensor_counts_df.shape)
print(sensor_counts_df["uid"].unique().shape)
print(event_type_counts_df.shape)
print(event_type_counts_df["uid"].unique().shape)
print(event_type_counts_2_df.shape)
print(event_type_counts_2_df["uid"].unique().shape)
print(device_counts_df.shape)
print(device_counts_df["uid"].unique().shape)
print(family_df.shape)
print(family_df["uid"].unique().shape)

In [226]:
df = pd.merge(subs_df, event_type_counts_df, on="uid", how="left").fillna(0.0)
df = pd.merge(df, sensor_counts_df, on="uid", how="left").fillna(0.0)
df = pd.merge(df, event_type_counts_2_df, on="uid", how="left").fillna(0.0)
df = pd.merge(df, family_df, on="uid", how="left").fillna(0.0)
df = pd.merge(df, device_counts_df, on="uid", how="left").fillna(0.0)

df.columns = df.columns.astype(str)
df.head(5)

,uid,subscription_status,has_prior_subscriptions,subscription_cmrr,days,0.0_x,1.0_x,2.0_x,3.0_x,4.0_x,...,app_systemaway_event,app_systemoff_event,adults,children,residence,indoor_camera_count,doorbell_count,environment_sensors_count,doorlock_count,outdoor_battery_camera_count
0,4829753,Active,True,0.00,30,0.0,7.0,192.0,0.0,1432.0,...,156.0,165.0,2.0,-1.0,2.0,1.0,1.0,4.0,0.0,0.0
1,3330410,Active,True,0.00,30,0.0,37.0,708.0,0.0,795.0,...,2.0,13.0,2.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0
2,5816526,Active,True,29.99,56,0.0,34.0,407.0,0.0,870.0,...,16.0,40.0,2.0,0.0,2.0,1.0,1.0,0.0,1.0,1.0
3,3194092,Active,True,0.00,31,0.0,0.0,718.0,0.0,658.0,...,102.0,523.0,2.0,-1.0,2.0,3.0,1.0,0.0,1.0,1.0
4,969223,Active,True,0.00,31,0.0,0.0,6.0,0.0,1.0,...,14.0,4.0,2.0,0.0,2.0,1.0,0.0,3.0,0.0,0.0

In [227]:
# df = df.rename(columns={'uid': 'index'})

df.set_index("uid", inplace=True)

df.head(5)

,subscription_status,has_prior_subscriptions,subscription_cmrr,days,0.0_x,1.0_x,2.0_x,3.0_x,4.0_x,5.0_x,...,app_systemaway_event,app_systemoff_event,adults,children,residence,indoor_camera_count,doorbell_count,environment_sensors_count,doorlock_count,outdoor_battery_camera_count
uid,,,,,,,,,,,,,,,,,,,,,
4829753,Active,True,0.00,30,0.0,7.0,192.0,0.0,1432.0,8.0,...,156.0,165.0,2.0,-1.0,2.0,1.0,1.0,4.0,0.0,0.0
3330410,Active,True,0.00,30,0.0,37.0,708.0,0.0,795.0,3.0,...,2.0,13.0,2.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0
5816526,Active,True,29.99,56,0.0,34.0,407.0,0.0,870.0,3.0,...,16.0,40.0,2.0,0.0,2.0,1.0,1.0,0.0,1.0,1.0
3194092,Active,True,0.00,31,0.0,0.0,718.0,0.0,658.0,0.0,...,102.0,523.0,2.0,-1.0,2.0,3.0,1.0,0.0,1.0,1.0
969223,Active,True,0.00,31,0.0,0.0,6.0,0.0,1.0,0.0,...,14.0,4.0,2.0,0.0,2.0,1.0,0.0,3.0,0.0,0.0

In [228]:
for c in df.columns:
 if c in ["subscription_status", "has_prior_subscriptions", "subscription_cmrr", "days", "adults", "children", "residence"]: continue
 if c.startswith("_col"): continue
 if c.endswith("_count"): continue
 df[c] = df[c] / df["days"]

"""
import hashlib
def hash(name):
  hashed_name = hashlib.md5(name.encode()).hexdigest()[:8]
  return hashed_name

tmp = df.copy()
tmp.columns = [hash(name) for name in tmp.columns]
tmp.sample(frac=0.25).to_csv('tmp.csv')

tmp.head(5)
"""

df.head(5)

,subscription_status,has_prior_subscriptions,subscription_cmrr,days,0.0_x,1.0_x,2.0_x,3.0_x,4.0_x,5.0_x,...,app_systemaway_event,app_systemoff_event,adults,children,residence,indoor_camera_count,doorbell_count,environment_sensors_count,doorlock_count,outdoor_battery_camera_count
uid,,,,,,,,,,,,,,,,,,,,,
4829753,Active,True,0.00,30,0.0,0.233333,6.400000,0.0,47.733333,0.266667,...,5.200000,5.500000,2.0,-1.0,2.0,1.0,1.0,4.0,0.0,0.0
3330410,Active,True,0.00,30,0.0,1.233333,23.600000,0.0,26.500000,0.100000,...,0.066667,0.433333,2.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0
5816526,Active,True,29.99,56,0.0,0.607143,7.267857,0.0,15.535714,0.053571,...,0.285714,0.714286,2.0,0.0,2.0,1.0,1.0,0.0,1.0,1.0
3194092,Active,True,0.00,31,0.0,0.000000,23.161290,0.0,21.225806,0.000000,...,3.290323,16.870968,2.0,-1.0,2.0,3.0,1.0,0.0,1.0,1.0
969223,Active,True,0.00,31,0.0,0.000000,0.193548,0.0,0.032258,0.000000,...,0.451613,0.129032,2.0,0.0,2.0,1.0,0.0,3.0,0.0,0.0

In [21]:
tmp = df[["subscription_status", "days"]].copy()
tmp.groupby(["days", "subscription_status"]).size()

days    subscription_status
-16249  Active                    1
 1      Active                  253
 2      Active                 1230
 3      Active                  827
 4      Active                  692
                               ...
 362    Expired                  10
 363    Active                 1591
        Expired                  11
 364    Active                 1544
        Expired                   7
Length: 650, dtype: int64

In [230]:
sub_df = df #.sample(frac=0.25)

y = sub_df["subscription_status"]
X = sub_df.drop("subscription_status", axis=1)
# X = X.drop(["has_prior_subscriptions","doorbell_count","residence","58","doorlock_count"], axis=1)
# tmp = X.nunique().sort_values(ascending=False)
# tmp.quantile(0.67)

X.head(5)

,has_prior_subscriptions,subscription_cmrr,days,0.0_x,1.0_x,2.0_x,3.0_x,4.0_x,5.0_x,6.0_x,...,app_systemaway_event,app_systemoff_event,adults,children,residence,indoor_camera_count,doorbell_count,environment_sensors_count,doorlock_count,outdoor_battery_camera_count
uid,,,,,,,,,,,,,,,,,,,,,
4829753,True,0.00,30,0.0,0.233333,6.400000,0.0,47.733333,0.266667,0.600000,...,5.200000,5.500000,2.0,-1.0,2.0,1.0,1.0,4.0,0.0,0.0
3330410,True,0.00,30,0.0,1.233333,23.600000,0.0,26.500000,0.100000,2.100000,...,0.066667,0.433333,2.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0
5816526,True,29.99,56,0.0,0.607143,7.267857,0.0,15.535714,0.053571,0.357143,...,0.285714,0.714286,2.0,0.0,2.0,1.0,1.0,0.0,1.0,1.0
3194092,True,0.00,31,0.0,0.000000,23.161290,0.0,21.225806,0.000000,0.580645,...,3.290323,16.870968,2.0,-1.0,2.0,3.0,1.0,0.0,1.0,1.0
969223,True,0.00,31,0.0,0.000000,0.193548,0.0,0.032258,0.000000,0.000000,...,0.451613,0.129032,2.0,0.0,2.0,1.0,0.0,3.0,0.0,0.0

In [208]:

tmp = tmp[tmp <= 8.4].index
X = X[tmp]
X.head(5)

,101,53,85,66,55,72,103,120,54,81,...,121,44,117,116,113,47,61,50,99,105
uid,,,,,,,,,,,,,,,,,,,,,
4829753,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3330410,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5816526,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3194092,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
969223,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [264]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, shuffle=True)
X_train.head(5)

,has_prior_subscriptions,subscription_cmrr,days,0.0_x,1.0_x,2.0_x,3.0_x,4.0_x,5.0_x,6.0_x,...,app_systemaway_event,app_systemoff_event,adults,children,residence,indoor_camera_count,doorbell_count,environment_sensors_count,doorlock_count,outdoor_battery_camera_count
uid,,,,,,,,,,,,,,,,,,,,,
1463496,True,0.00,31,0.0,0.193548,26.709677,0.0,0.000000,0.225806,2.129032,...,0.000000,0.129032,2.0,2.0,2.0,1.0,0.0,1.0,0.0,0.0
5956998,True,29.99,82,0.0,0.280488,3.487805,0.0,20.780488,0.109756,0.036585,...,0.170732,1.048780,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4408713,True,27.99,362,0.0,0.016575,0.052486,0.0,0.027624,0.024862,0.185083,...,0.022099,0.024862,2.0,0.0,2.0,3.0,0.0,1.0,0.0,0.0
4121339,True,0.00,30,0.0,0.400000,0.066667,0.0,222.066667,0.000000,1.166667,...,0.066667,0.066667,1.0,0.0,2.0,5.0,0.0,1.0,0.0,4.0
5262939,True,0.00,31,0.0,0.322581,20.322581,0.0,205.967742,0.000000,7.000000,...,3.387097,8.548387,2.0,2.0,2.0,0.0,0.0,0.0,0.0,2.0

In [253]:
from sklearn.feature_selection import SelectPercentile, SelectKBest
from sklearn.feature_selection import f_classif

# fs = SelectPercentile(
#  score_func=f_classif
# )

fs = SelectKBest(score_func=f_classif, k=7)

fs.fit(X_train, y_train)

cols_idxs = fs.get_support(indices=True)

X_train_sub = X_train.iloc[:,cols_idxs]
X_test_sub = X_test.iloc[:,cols_idxs]

X_train_sub.head(5)

/Users/daniel.nuriyev/projects/.venv/lib/python3.11/site-packages/sklearn/feature_selection/_univariate_selection.py:112: UserWarning: Features [ 35  38  50  57  58  59  69  94  98 106 111 121 127] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx, UserWarning)
/Users/daniel.nuriyev/projects/.venv/lib/python3.11/site-packages/sklearn/feature_selection/_univariate_selection.py:113: RuntimeWarning: invalid value encountered in divide
  f = msb / msw

,has_prior_subscriptions,subscription_cmrr,days,2.0_x,7.0_x,8.0_x,1_y
uid,,,,,,,
3398548,True,9.99,348,0.000000,0.000000,0.000000,0.000000
5827523,True,0.00,192,0.000000,0.000000,0.000000,0.000000
748879,True,29.99,3,4.333333,0.666667,0.666667,3.000000
5597159,True,0.00,28,72.178571,11.928571,53.750000,99.785714
5435005,True,0.00,30,2.433333,0.933333,1.500000,3.633333

In [211]:
def srt(x):
 return fs.scores_[x]

cols_idxs = sorted(cols_idxs, key=srt, reverse=True)

for i in cols_idxs:
 print(f"{X_train.columns[i]} : {fs.scores_[i]} : {fs.pvalues_[i]}")

101 : 0.005553605635436176 : 0.9944617871827229

In [ ]:
from matplotlib import pyplot

pyplot.bar([i for i in range(len(cols_idxs))], [fs.scores_[x] for x in cols_idxs])
pyplot.show()

In [259]:
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import (
    accuracy_score,
    f1_score,
)
from catboost import CatBoostClassifier

model = GaussianNB()
# model = KNeighborsClassifier()
# model = svm.SVC()
# model = SGDClassifier()
# model = CatBoostClassifier()

# Model training
model.fit(X_train_sub, y_train)

# Predict Output
y_pred = model.predict(X_test_sub)

accuracy = accuracy_score(y_pred, y_test)
f1 = f1_score(y_pred, y_test, average="weighted")

print("Accuracy:", accuracy)
print("F1 Score:", f1)

Accuracy: 0.9837778388781964
F1 Score: 0.977041426142927

       subscription_status
0                   Active
1                   Active
2                   Active
3                   Active
4                   Active
...                    ...
138201              Active
138202              Active
138203              Active
138204              Active
138205              Active

[138206 rows x 1 columns]

In [270]:
y_pred_df = pd.DataFrame(y_pred)
y_pred_df.columns = ["pred"]

y_test_tmp = y_test.reset_index()

joined_df = y_pred_df.join(y_test_tmp)

print(joined_df.shape)

joined_df = joined_df[joined_df["pred"] != joined_df["subscription_status"]]
print(joined_df.shape)

joined_df

(138206, 3)
(2328, 3)

           pred      uid subscription_status
75      Expired  5851923              Active
110     Expired  2518934              Active
162     Expired   938257              Active
204     Expired  5732909              Active
251     Expired   133356              Active
...         ...      ...                 ...
137566  Expired  5839914              Active
137643  Expired  5438488              Active
137789   Active  5316481             Expired
138024   Active   864262             Expired
138193  Expired  5865558              Active

[2328 rows x 3 columns]

In [256]:
tmp_y = y_test.iloc[[0]]
tmp_x = X_test_sub.iloc[[0]]

y_pred = model.predict(tmp_x)

print(y_pred)

accuracy = accuracy_score(y_pred, tmp_y)

print("Accuracy:", accuracy)

['Active']
Accuracy: 1.0